
*.log

*.log

ihaveaname/platforms/ios/cordova/console.log

ihaveaname/platforms/ios/ihaveaname.xcodeproj/project.pbxproj

ihaveaname/www/lib/angular
ihaveaname/www/lib/angular-animate
ihaveaname/www/lib/angular-resource
ihaveaname/www/lib/angular-sanitize
ihaveaname/www/lib/angular-ui-router
ihaveaname/www/lib/ionic

ihaveaname/www/lib/ng-cordova-oauth
