<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card tweetItem" ng-repeat="tweet in tweets | limitTo:1">
      <div class="item item-body">
        <span ng-bind-html="tweet.text | tweetLinky">
        </span>
      </div>
      <div id="tweetactions" class="item item-divider">
        <button class="button button-block button-dark" ng-click="skip()">
          Skip
        </button><button class="button button-block button-positive" ng-click="openModal()">
          Bomb
        </button>
      </div>
    </div>
    <div class="list card" ng-hide="tweets.length">
      <p style="text-align:center">No tweets to show!</p>
    </div>
<!--     <button ng-click="testOAuth()">Test</button> -->
  </ion-content>

</ion-view>
