<ion-modal-view style="background:none;">
<div class="card">
	<div class="bar bar-header bar-positive" style="position:relative; top:-1px;">
	  <h1 class="title">Select Tweet Bomb</h1>
	</div>
	<div class="list">
		<ion-radio name="selectTweet" ng-repeat="tweetout in tweetlist" ng-value="tweetout" ng-model="$parent.outTweet">
		<span class="item-text-wrap" ng-bind-html="tweetout | tweetLinky"></span>
		</ion-radio>
	  <!-- <label class="item item-radio" ng-repeat="tweetout in tweetlist">
	    <input type="radio" name="group">
	    <div class="item-content item-text-wrap" ng-bind-html="tweetout.html">
	    </div>
	    <i class="radio-icon ion-checkmark"></i>
	  </label> -->
	</div>
	<div id="sendtweet">
		<button class="button button-positive button-block" ng-click="closeModal(outTweet)" ng-disabled="!outTweet">Send</button>
	</div>
</div>
</ion-modal-view>